<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">

            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card card-lift--hover shadow border-0">
                        <div class="card-header">
                            <h5 class="text-primary"> Fantasy Football Links
                            </h5>
                        </div>
                        <div class="card-body py-2">

                            <div>

                                <div class="container-fluid">
                                    <p>If you would like to submit a link, correct a link, etc. then please send
                                    and email to tomDING@DONGfantasyfootballdraft.com, but please remove the spam
                                    deterring 'DING' and 'DONG' from the email address.</p>
                                    <div class="row">
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.draftkit.com/">draft kit</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.fantasyfootballcafe.com/">fantasy football cafe</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.cbssports.com/fantasy/">cbs sportsline fantasy</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.4for4.com/">4for4</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fantasyfootballfield.com/">ff field</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.dreamsports.com/">dream sports</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fantasyfootball.com/">craig davis fantasy football</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.ffmastermind.com/">ff mastermind</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fanstar.com/">fanstar</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.fantasydraftrankings.com/">fantasy draft rankings</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://ffwarroom.proboards.com/">ff warroom pro boards</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fantasyfootballzone.com/">fantasy football zone</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.artofthefan.com/">art of the fan (t-shirts)</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.fspnet.com/">fantasy sports pub inc</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fflm.com/">fantasy league manager</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://mydraftday.com/">my draft day</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.football.com/">football</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://ffbmanager.com/">ffb manager</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.freefantasyfootballpicks.com/">free fantasy football picks</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.thegoalline.com/">the goalline</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.footballsoftware.com/">football software</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.fandraft.com/">fan draft</a></div>
                                        <div class="col-sm-2" style="background-color:lavender;"><a href="http://members.tripod.com/infinity_ends/">infinity fantasy analysis</a></div>
                                        <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://home.myfantasyleague.com/">myfantasyleague</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.simgalaxy.com/">sim galaxy</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.insiderfootball.com/">insider ff fantistics</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.net-commish.com/">net-commish</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fantasysportstrophies.com/">fantasy sports trophies</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.rotowire.com/">rotowire</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.rtsports.com/">realtime sports</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.lesterslegends.com/">lesters legends</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.sandlotshrink.com/">the sandlot shrink</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.ultimatefs.com/football.htm">ultimate fantasy sports</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fantasyfootballhub.com/">fantasy football hub</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.sportingnews.com/">the sporting news</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.thehuddle.com/">the huddle</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://profantasy-football.com/">pro fantasy football</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.tackls.com/">tackls</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.espn.com/nfl/statistics">espn stats</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.footballdiehards.com/">football diehards</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.tflreport.com/">tfl report</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fflm.com/flm_stats.htm">fflm</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.walterfootball.com/">walter football</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.espn.com/nfl/">espn abc nfl</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.ffmastermind.com/">ffmastermind</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fastgeneticalgorithmsoftware.com/">fast genetic algorithm softwar</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.cbssports.com/nfl/">cbs sportsline nfl</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.pro-football-reference.com/">pro football reference</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.monsterdraft.com/">monster draft</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.esportsmediagroup.com/">esports media group</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.nfl.com/">nfl</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://fantasyfootballcalculator.com/">fantasy football calculator</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fantasyfootballer.com/newsstand.htm">gridiron newsstand</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fantasysportsawards.com/f-football/">affordable trophies</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.fftoday.com/">ff today</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.theredzone.org/">the redzone</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://footballguys.com/concentration.htm">concentration</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.mockdraftcentral.com/index.jsp">mock draft central</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.sports-central.org/sports/nfl/index.php">sports central</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://footballguys.com/millionaire.htm">fb millionaire?</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.addictfantasysports.com/">addict fantasy sports</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.theredzone.org/">the redzone</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://footballguys.com/8head.htm">magic 8 head</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.allpropublishing.com/">all pro publishing</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.footballsfuture.com/">footballs future</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://footballguys.com/qbrating.htm">qb rating calculator</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.allsortssports.com/">all sorts sports</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.ourlads.com/">ourlads</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.fantasyfootballedge.net/">fantasy football edge</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.askthecommish.com/">ask the commish</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.scout.com/nfl/">scout nfl draft preview</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.fflcommish.com/">ffl commish</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.drafthelp.com/">draft help</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://fantasywizard.com/">avg proj-fant.wizard</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.playerline.com/">player line</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.draftsharks.com/">draft sharks</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.net-commish.com/">net-commish</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.madduxsports.com/">maddux sports</a></div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.fanball.com/">fanball</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://footballguys.com/pickvalue.htm">pick value calculator</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.askthecommish.com/">ask the commish</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="https://www.fantasydraft.com/">fantasy draft</a></div>
                                            <div class="col-sm-2" style="background-color:lavender;"><a href="https://www.rotoworld.com/">rotoworld</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="http://www.optimalplayersolutions.com/">optimal player solutions</a></div>
                                     </div>
                                    <div class="row">
                                                   <div class="col-sm-2" style="background-color:lavender;"><a href="http://www.fantasyadvisor.com/">fantasy football advisor</a></div>
                                            <div class="col-sm-2" style="background-color:lavenderblush;">><a href="http://www.antsports.com/">antsports</a></div>

                                </div>

                            </div>
</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</main>