<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
      
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-header">
                        <h5 class="text-primary"> My RoboCoach NFL Fantasy Football League Alerts
                        </h5>
                    </div>
                  <div class="card-body py-2">
                            
                    <div class="widget">	
                       
                        <h6 class="text-primary">Check the fantasy football email alerts that you would like to receive</h6>
                        <form name="frmManage" id="idManage" method="post" action="/emailOptionRec.asp">
                        
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true"  id="chkWeekly_Forecast" name="chkWeekly_Forecast"  checked>
                            <label class="form-check-label" for="chkWeekly_Forecast">Weekly Forecast</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true"  id="chkWeekly_Waiver_Pics" name="chkWeekly_Waiver_Pics" checked>
                            <label class="form-check-label" for="chkWeekly_Waiver_Pics">Weekly Waiver Pics</label>
                         </div>
                         <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="true"  id="chkWeekly_Trade_Suggestions" name="chkWeekly_Trade_Suggestions" checked>
                          <label class="form-check-label" for="chkWeekly_Trade_Suggestions">Weekly Trade Suggestions</label>
                       </div>
                       <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true"  id="chkWeekly_Contest_Suggestions" name="chkWeekly_Contest_Suggestions" checked>
                        <label class="form-check-label" for="chkWeekly_Contest_Suggestions">Weekly Contest Suggestions</label>
                     </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="true"  id="chkWeekly_Starter_Suggestions" name="chkWeekly_Starter_Suggestions" checked>
                      <label class="form-check-label" for="chkWeekly_Starter_Suggestions">Weekly Starter Suggestions</label>
                   </div>
                   <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true"  id="chkPreseason_Cheat_Sheet" name="chkPreseason_Cheat_Sheet" checked>
                    <label class="form-check-label" for="chkPreseason_Cheat_Sheet">Preseason Cheat Sheet</label>
                 </div>
       
                 <button type="submit" class="btn btn-primary my-4">submit</button>
                     <!-- <input type="submit" value="submit"> -->
                        </form>
                        </div>
                           
                         
                    
                </div>
              </div>
            
          </div>
        </div>
    
      </div>
    </section>
 
  </main>