<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
          <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
         
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                  
                    <h5 class="text-primary text-uppercase">RoboCoach: Personalized NFL Fantasy Football Team Management Advisor</h5>
                    <h6 class="text-primary text-uppercase">Below is RoboCoach's Personalized Advice for Your NFL Fantasy Football Team and League</h6>
                    <ul>
                        <li>
                            <a href="">RoboDepth</a> - My starters for this week (and my overall depth chart).
                        </li>
                        <li><a href="">RoboWaiver</a>  - Personalized waiver wire suggestions.</li>
                        <li><a href="">RoboTrade</a> - Peronalized trade advice--your best trade.</li>
                        <li><a href="">RoboTrade-2-Team</a> - What Robo would do when <b>offered</b> a trade by <select class="" id="sel1">
                            <option>Blees Em</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </li>
                    </ul>
                </div>
              </div>
            
          </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                    
                      <h5 class="text-primary text-uppercase">Robocoach Fantasy Football Team and League Administration</h5>
                      <ul>
                          <li><a href="">Show My League</a>:Show my fantasy football league.</li>
                          <li><a href="">Team Names</a>:Edit my fantasy football league team names and add/remove teams.</li>
                          <li><a href="">My Rosters</a>:Edit my fantasy league rosters.</li>
                          <li><a href="">Try It Out</a>:Edit my fantasy league rosters.</li>
                          <li><a href="">Yahoo League Sync</a>: <span class="text-danger">BETA!</span> fetch your fantasy football rosters.</li>
                          <li><a href="">CBS Sportsline League Sync: </a>:Automatically retrieves your Sportsline fantasy football rosters and scoring system.</li>

                      </ul>
                  </div>
                </div>
              
            </div>
          </div>
      </div>
    </section>
 
  </main>