<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
         
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card card-lift--hover shadow border-0">
                <div class="card-header">
                    <h3 class="text-primary text-uppercase"> Free Fantasy Football Draft Cheat Sheets and Other Wizards</h3>
                    <h6 class="text-primary text-uppercase">Everything at the site is 'free', in-that there is always some free component of our fantasy tools. Of course if you subscribe then you would see all the information.</h6>
                </div>
                <div class="card-body py-5">
                
            <div class="card card-lift--hover shadow border-0">
    
            <div class="card-body">
                <h5 class="text-primary">Completely Free:</h5>
                <ul>
                    <li><a href="">RoboTrade:</a> Free and NEW!! RoboTrade is completely free!! No restrictions. No more spending hours looking for trade opportunities. RoboTrade is your fantasy football trade calculator, analyst, consultant and agent all rolled into one! There is nothing, we repeat, there is nothing . . . no software, no web FF site that is even close to duplicating the power of RoboTrade. Add the free power of RoboWaiver and RoboDepth and you are unbeatable!</li>
                    <li><a href="">Fantasy Football Articles & Reviews:</a>  no restrictions whatsoever.</li>
                    <li><a href="">RoboWaiver:</a>  no restrictions!!! RoboWaiver is completely free!! Robo will tell you who you should be picking up from your league's free agent pool (waiver wire) for your team!!</li>
                    <li> <a href="">RoboDepth:</a> no restrictions!!! RoboDepth is also completely free!! Who should you sit/start every week? Who are your studs? RoboDepth knows--and he'll tell you for free!</li>
                    <li><a href="">RoboSynch:</a>  no restrictions whatsoever. RoboSynch is your CBS Sportsline agent! He will retrieve all your fantasy football rosters and rules. It takes only a few seconds (if you have a fast Internet connection and a good computer). You don't have to do a thing...Robo, Go Fetch!! Note, RoboSynch does require IE6+.</li>
                    <li><a href="">NFL Depth Charts:</a>  Robo requires the latest depth chart to make his customized decisions for your team. But it is just data--it's not information. Data is free at FFD--so help yourself!</li>
                </ul>
           
                <h5 class="text-primary">Sort-of Free:</h5>
            <ul>
                <li><a href=""> R2T2:</a> This is RoboTrade's in-depth trade analyzer and it will give you most, but not all the in-depth trade analysis.</li>
            </ul>
                    <h5 class="text-primary">Barely Free:</h5>
                <ul>

                    <li><a href=""> RoboCheat:</a> Robo provides some information in cheat sheets, but currently only the top ranked player at each position. That is valuable information because it is, updated daily, customized to your fantasy league rules and also because RoboCoach is the World Champion of fantasy football--wouldn't you like his advice? Of course you would!
                    
                    If you want it all the player rankings then that will cost you, but at $9.99 they're the best value you can get in fantasy football cheatsheets: The information is customized for your league and it is from top quality artificial intelligence, i.e., RoboCoach: the World Champion and Deep Blue of fantasy football! Also, a subscription lasts all year long, i.e., the cheatsheet is updated daily. Additionally, you get a weekly cheatsheet so you will also know who to start each week. The RoboCheat cheatsheet is the best value in the entire fantasy football industry
                    </li>
                </ul>
                    <h5 class="text-primary">A Tiny Bit Free:</h5>
                   <ul>
                <li> <a href="">RoboAuction and RoboDraft:</a> The power of RoboAuction and RoboDraft (the former is for live robotic auction draft bid assistant and the later for live snake draft pick assistance) is incredible--they will analyze trillions upon trillions of possible teams for you, but that kind of work takes processing power and processing power costs money. Sorry, but you'll have to subscribe to get the most powerful fantasy football robotic assistant in the world. However at $19.99 there is no greater value.
                    
                    That is an incredible value! Check out Google if you don't believe us: fantasy football auction draft fantasy football draft cheat sheet. Nothing in the fantasy industry even comes close to RoboAuction and RoboDraft!
                    
                    The other top ranked fantasy auction listings at Google are just a barely customized cheatsheets with dollar values. Tou can't compare a static or even customized cheatsheet with the powerful RoboDraft or RoboAuction.
                    
                    RoboAuction and RoboDraft are robotic assistants that do just what humans do: They participate in the draft, i.e., they make picks, they bid on players (you'll have to speak for Robo as he can't talk, yet), they react to what is happening, etc.
                    
                    Just comparing Robo to a cheatsheet is an insult. Robo is too unpredictable and, for lack of a better word, thinks! Cheatsheets certainly don't think. Even dynamic cheatsheets are just glorified spreadsheets. <b> Robo is implementing the power of advanced branches of mathematics that simulate brain function and evolution -- ROBO IS NO SPREADSHEET!</b>
                    
                    Bottom line: Robo is beyond comparison to today's existing fantasy football technology. Robo defines the state of our art. Robo IS the Deep Blue of Fantasy Football. 'Nuff
                   </li>
                </ul>
                </div>
              </div>
            </div>
        </div>
          </div>
        </div>
        </div>
    </section>
 
  </main>