<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
      
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-header">
                        <h4 class="text-primary text-center">Fantasy Football Auction Draft 101</h4>
                        <h5 class="text-primary text-center"> AKA: How to Bid and Win at your Fantasy Football Auction Draft
                            <h6 class="text-primary text-center">By: Dr. RoboStein</h6>
                        </h5>
                    </div>
                  <div class="card-body py-2">
                            
                    <div class="card card-lift--hover shadow border-0">
    
                        <div class="card-body">
                        
                        
                        <div>To win your auction you need to know Kung-Fu.  As in Kung-Fu, you are going to use your opponents' momentum against them.  If you follow this advice, your opponents will be throwing weight around you'll just side step and watch them spin out of control.</div>
                        <div>I know what I'm talking about.  I have built a deep understanding of fantasy football auction draft strategy.  For over a decade I've been writing artificial intelligence software trying to beat human beings at the art of the fantasy football auction draft.  What I've come to learn, or rather, what I've confirmed is that it is very hard to beat a human.  No matter the game, we always discover the best or near best strategies for playing.  Consequently, if you want to beat us then you must beat us at our own game.   After reading this article I think you will find out how to do just that.</div>
                        <div>Your human opponents are good, but not infallible: we do fall prey to hype and that is where you need to focus your effort.  You can use media hype, like momentum, against your opponents in a live auction draft.  Media hype is found in magazines, on the web and on TV and all that hype gets translated into unjustifiably high player auction price and scoring predictions.  </div>
                        <div>How do you tell what is hype versus what is real?  A key measure of hype that I use in this article is points-per-dollar.  'Points' refers to a players predicted annual fantasy point total using your league's scoring system.  'Dollar' refers to the fictional dollars of your fantasy football auction draft budget.</div>
                        <div>Before continuing I'd like to make a shameless plug and suggest spending twenty-bucks on RoboAuction live-online auction draft advisor software or better yet, just spend thirty bucks and get the full FFD package.  RoboAuction works online during your draft and makes suggestions in accordance with the wisdom contained in this article.  For ten bucks more I recommend the complete package as it will get you many of our other great tools that help you past draft day.  Even without Robo, however, you can still win your auction if you follow these simple steps.</div>
                       
                        </div>
                    </div> 
                    <div class="card card-lift--hover shadow border-0">
    
                        <div class="card-body">
                            <div><span style="font-weight: bold">Step 1: Get an indexed forecast of player scoring and price values.</span></div>
                        <div>Where should you get your predictions?  You can use RoboCheat or any other credible source to get fantasy football player scoring predictions.  Make sure the prediction is for your scoring system.  This is key because small differences among scoring systems can result in huge swings in player point predictions.  </div>
                        <div>Also, make sure the fantasy football point prediction factors in your league's starting roster configuration.  This is sometimes called value-based drafting or VBD.  For example, if you start 1 QB, 2 RB, 3 WR, 1 TE, 1 DF then RBs and WRs will typically get a fantasy football scoring index adjustment upward because there will be more demand for them.  Sometimes leagues get really funky with their roster setup using things like flex players.  It will be hard to get predictions in this case; Robo can do it, but not many others, possibly none.  </div>
                        <div>Get indexed adjusted pricing as well.  Robo also does a VBD adjustment to auction price while the player is on the auction block.  So Robo's got you covered on price as well as points.</div>
                        </div>
                    </div>
                    <div class="card card-lift--hover shadow border-0">
    
                        <div class="card-body">
                        <div><span style="font-weight: bold">Step 2: Determine the REAL sleepers and busts by calculating points per auction dollar.</span></div>
                        <div>Even before you break out the calculator you can figure out some phony sleepers and busts.  I say phony because there is a lot of garbage out there regarding sleepers and busts.  For example, your BS detector should go off if you read an article that lists a player as a sleeper and another article lists the same player as a bust.  </div>
                        <div>A player cannot be both a sleeper and bust!  For example, in 2008, Matt Lienart was sometimes listed as a sleeper and sometimes as a bust.  What that really means is that, at the time, he was unproven.  Moreover he had a capable backup, i.e., Kurt Warner.  As a result, there was a great deal of uncertainty as to his value.  If half of the league thinks a player is a sleeper then half of your league will be bidding him up.  Consequently, in Leinart's case, factoring in the risk of being unproven, you paid about what he was worth and that isn't what a sleeper is.  When you pay less than what a player is worth then you have a true sleeper.   </div>
                        <div>True sleepers typically don't appear in magazine sleeper-bust articles, for if they did then they would draw bids.  I'll just state the obvious: competitive bids are bad; they suck up your budget.</div>
                        <div>A better way to find sleepers and busts is with RoboCheat.  You do this by comparing player RDP (Robo Draft Pick) with player Average Draft Pick (ADP).  ADP is a proxy for auction price and the player with the greatest RDP-ADP delta is the biggest sleeper.  RoboAuction works off the RoboCheat numbers and so, if you use RoboAuction, you will probably be seeing many of these under-hyped bargains appearing in your optimal team, i.e., the starting fantasy roster that will get you the most points for your auction budget.</div>
                        <div>How do you tell if a player is overpriced?  Regarding fantasy football auction price, an overpriced player is one that, when compared to others at his position, has an abnormally <i>low</i> points per dollar ratio.  This is where you do the points per auction dollar calculation, but I don't recommend doing all those calculations yourself.  RoboAuction lists the overhyped players for you and that will save you a lot of time.  Moreover, as players drop off the board, RoboAuction dynamically updates the overpriced players list.</div>
                        <div>For example, in 2009 Adrian Peterson went for about half of my budget, i.e., fifty auction bucks.  AP had a point projection in my league of approximately 400 points.  Resultantly, AP had a point to dollar ratio of 400 to 50 or 8 to 1.  </div>
                        <div>Given that, was AP overpriced?  Was he a bust?  To know that you must do the calculation for every player and put together the starting roster that gets you the most total points for your budget.  Only then could you say whether or not AP was overhyped.</div>
                        <div>Do you really have to do all those calculations?  To do ratios and assemble the optimum auction fantasy football roster, you'd first have to take some doctoral level mathematics courses.  However, with trial and error most of us can come up with a sub-optimal, but close-enough-for-rock-and-roll solution.  Alternatively, as I've pointed out numerous times, the simplest way is to just use RoboAuction and let Robo do the calculations for you and give your brain a rest.</div>
                        </div>
                    </div>
                    <div class="card card-lift--hover shadow border-0">
    
                        <div class="card-body">
                        <div><span style="font-weight: bold">Step 3: Use Kung-Fu, i.e., put up the overhyped (overpriced) players first on the auction block.</span></div><br>
                        <div>You want your opponents to get into bidding wars.  In a war they will blow their budget and that means less competition for you when it comes time to buy the players you want.  Get your opponents to spend their money on overpriced players.</div><br>
                        <div>Your opponents will help you blow their budgets.  Typically auction bidders take turns putting players on the block and they proceed to do so in an irrational way.  I've found that my opponents put the overhyped players up first and then ignorantly bid to win them.  This is where we humans make our big mistake and fall victim to media hype.  The hyped players are like shiny gems that transfix us.  These players receive abnormally high media attention and so they are first to come to mind when we suggest block players. </div><br>
                        <div>What should you do while your opponents are killing themselves?  During this time you can bid too to help drive up prices.  However, be sure you drop out when the bidding gets down to just two interested bidders so you don't accidentally buy an overpriced player.  </div><br>
                        <div>What should you do if a player is on the overpriced list and the optimal roster list?  For reasons having to do with mathematical trade-offs, an overpriced player might appear in your optimal team roster.  RoboAuction is basically saying that, despite a low points-per-dollar ratio, you should buy the player because the more efficient alternatives don't get as many points.  Robo knows that ratios are helpful, but, in the end, points are what matters.  Consequently, don't put a player on the block if the player appears in both your overpriced and optimal roster list.</div><br>
                        <div>You should begin putting your targeted players on the block when your opponents' war chests are empty or nearly so. At this stage most bidders will not be able to bluff to drive up the price or their ability to bluff will be blunted.</div><br>
                       
                        </div>
                    </div>
                    <div class="card card-lift--hover shadow border-0">
    
                        <div class="card-body">
                             <div><span style="font-weight: bold">Step 4: Bid smartly</span></div>
                        <div>Before bidding begins, don't forget to set your budget for your starters and your backups.  For the most part you can figure on paying the minimum bid for each of the players on your backup team.  The exception to this rule is for handcuff backups.  For example, in 2009 if you had Miami RB1 Ronnie Brown then you needed to pay a little extra to get Miami RB2 Ricky Williams.  In general, because the position is so injury prone, be prepared to pay a little extra to handcuff a backup for your RBs.  Robo will create optimal backup rosters as well, but for the backup roster Robo doesn't factor in handcuffs so you'll have to do that small part on your own.  </div>
                        <div>How much should you bid?  The bidding is really easy if you use RoboAuction because, once a player is on the block, Robo tells you the range you should bid for any player.  You stop bidding when the bid goes above the range.  Without Robo you're just going to have to wing it.  I'd explain the calculations involved, but that would take the next few years and you don't have time for that.</div>
                        <div>Sometimes Robo's bid range might surprise you as abnormally high, but don't worry about that.  Usually Robo will bid liberally on players he believes are on the optimal team, but, in practice, you will rarely end up bidding that high.  This is due to the fact that Robo is unconventional:  what Robo thinks a bid should be is often very different from what your opponents think it should be.  Consequently, your opponents drop out well before you hit the top of the range.</div>
                        <div>Even if you do end up in a bidding war don't be afraid to spend on your targeted players.  For example, many of you probably don't remember Marshall Faulk, but in approximately 2003 he was the best run-catch threat player in the game.  Perhaps he was the greatest run-catch threat of all time.  The point is that Marshall was exceptional and no amount of hype could be overhype.  I spent seventy-five percent of my budget on Marshall.  Seventy-five percent!!!  In the end, he was worth every penny.  </div>
                        <div>Take advantage of human psychological barriers.  You only start approximately eight players and if one player can, on average, outscore the next best at his position by twenty or thirty percent and his position is the top scoring position in your league, usually the RB position, then the bidding will jump to at least fifty-percent of your overall budget.  At the fifty-percent mark the other bidders will hit a psychological barrier.  They'll start worrying that they are overpaying and will drop out, but what should you do?  You should ignore the barrier because it's not real.</div>
                        <div>On Robo's say so, you can jump this psychological barrier with confidence.  I've jumped it a couple of times and haven't been sorry to get the likes of Marshall and Larry Johnson (in his great year), i.e., players for whom no amount of hype was overhype.  For these very special players I only trust RoboAuction's advice.  You can try to identify them yourself, but remember that you are human and we fall victim to hype.  Robo never falls victim to hype, he plays it by the numbers and you can trust his advice. </div>
                        <div>That's it.  Now go forth and win your auction and don't believe the hype.</div>
                        </div>
                    </div>
                        
                    
                        </div>
                                            
                                        </div>
                           
                         
                    
                </div>
              </div>
            
          </div>
       
    </section>
 
  </main>