<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
      
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-header">
                        <h5 class="text-primary text-center">Fantasy Football 101: Strength of Schedule in Your CheatSheet</h5>
                    </div>
                  <div class="card-body py-2">
                        <h5 class="text-primary text-center">
                            By: Dr. RoboStein
                         </h5>
                  <div>
            <p>             
                There is a fundamental flaw with every fantasy football prediction you've ever seen or heard.  
                There is an adjustment that every cheatsheet left out.  When I tell you what it is,
                you will immediately realize what I say is true, inarguably so.  It is the simple fact that 
                points today are worth more than points tomorrow. 
            </p>
            <p>Only <a href="/free_fantasy_football_draft_cheat_sheet.aspx">RoboCheat</a> tells you the time value of points.
              RoboHot means the player is 'front-loaded' or he will be paying off your investment sooner than players that are 
              RoboCold.  No other prediction service does this.  Repeat, no other prediction service does this!   
              You have a huge advantage if you use RoboHot/Cold because it tells you WHEN you will be getting your points.
            </p>
            <p>
                Other prediction services do tell you if a player 'has been' hot, but that is a totally different concept.  
                Frankly, you shouldn't care if a player has-been hot.  You want to know if a player will-be hot.  
                You want to know if the player is front-loaded or back-loaded.
            </p>
            <p>
                Point loading is incredibly important and any of you who drafted great teams but are 0-4 right now know exactly
                what I'm talking about.  Your team might look good on paper, but if you drafted RoboCold players, i.e., players 
                with back-loaded point returns, then you could easily be 0-4 right now and shaking your head thinking,"what happened."
            </p>
            <p>
                What happened was your RoboCold draftees had bad matchups in the first four games.  
                Your players may come around, but damage has been done.  To make matters worse, you can't
                 trade away those players because they just had four bad weeks and you would be selling low.  
                 You are stuck and all you can do is hold onto those players and wait for it to turn around.
            </p>
            <p>
                If you drafted RoboHot players you could be selling high right now and buying low from schmucks that drafted RoboCold
                players.  I should mention here that this isn't just a draft gambit, you can pick up RoboHot players and dump 
                RoboCold players on all season long.  The information you need is right there in RoboCheat.  You can be like
                a surfer riding a wave, but bailing over the top before it crashes down on you.  RoboHot/Cold lets you 
                know when the wave is going to crash.
            </p>
            <p>
                Some prognosticators provide strength of schedule charts, but they are impossible to reference during the busy draft.
                You need to know right away if you should stay away from a player.  You may have only seconds left to make a draft
                pick and referencing a chart will take too much time.
            </p>
            <p>
                Moreover, the strength of schedule charts are completely generic, i.e., using a stoplight metaphor they claim to show 
                strong defenses as bad matchups.  This isn't always true.  A defense that is strong overall might give up a lot of 
                points to a particular position.  RoboHot and RoboCold tells you right down to the position level and does not waste
                 your time with generic stoplights.
            </p>
            <p>
                Next year we're going to expand this technique for people who don't like to trade.  We'll create something we call
                Robo Present Value or RPV.  Essentially it factors front-loading and back-loading directly into the point prediction. 
                No more would you have to worry about trading to get your loading right.
            </p>
            <p>
                RPV works by discounting back-loaded point totals. Those of you in the financial industry probably recognize this 
                as Net Present Value (NPV) the universally accepted cash flow discounting technique. For example here are two 
                players that have the same predicted outcome for a season; 300 fantasy points:
            </p>   
            <ul>
                <li>Player A scores 200 in weeks 1-8 and 100 in weeks 9-16.</li>
                <li>Player B scores 100 points in weeks 1-8 and 200 in weeks 9-16</li>
             </ul>
             <p>
                Which player is worth more?  If you just add the points then the players have equal value.  You could say that player A is front-loaded and choose him on that basis.   There is great advantage in doing so because that allows you, like the surfer referred to above, sell high on player A in week 8.
                However, many people don't want to deal with trades.  Trades sometimes incur fees and it can be a pain to do a trade just because of all the persuading and information sharing involved.  So, for these people we will have RPV.  Here is another example to illustrate RPV:
            </p>
            <ul>
                <li>Player A scores 150 in weeks 1-8 and 100 in weeks 9-16</li>
                <li>Player B scores 100 in weeks  1-8 and 200 in weeks 9-16.</li>
            </ul>
            <p>
                Player B scores more total points, but Player A scores more points in the early part of the season.  If you like using RoboHot 
                and RoboCold then the choice is obvious, i.e., you take Player A and trade him (sell high) in week 8 to pick up 
                Player B.  But if you want to buy and hold then who is more valuable?  The answer is, 'it depends.'  It depends 
                on something called the discount rate which varies depending upon the 'investor'.  Some players might put more value
                on points today than points tomorrow and thus they would more heavily discount late arriving points.  We'll do some 
                trial and error in the offseason to come up with a fantasy football default discount rate which our users can 
                adjust up or down to their tastes. So what have we learned?  We've learned that points today are worth more than points 
                tomorrow, but then you already knew that.  So what you've really learned is that only Robo gives you the tools
                you need to take advantage of this fact.  RoboHot and RoboCold are your tools today and RPV will be in your fantasy 
                toolkit come next year.
            </p>
    
            <ul>
              <li>
                  <a href="/cheatsheet.asp?pos=RB">RoboCheat</a>-This is your 'regular draft' customized cheatsheet from <i>now</i> until the season end.
                             <ul>
                                 <li>Note, this is a 'rolling' cheat sheet and that means that you can come back in-season to see the new player values from, e.g., week 2, week 3 and so on, until season end.</li>
                                    <li>Here is a YouTube demo of RoboCheat the <a href="https://youtu.be/oQsqrS8ojAU" target="_blank">customized fantasy football cheatsheet</a>.</li>
                                </ul>
                                <br>
                            </li>
                            <li><a href="/fantasy_football_weekly_player_rankings_updated_projections_matchups_calculator.aspx">RoboCheat Weekly (RC Weekly)</a>-This is your customized cheat sheet for this <i>weeks</i> game predictions.</li>
                            </ul>
                    </div>
                    
                </div>
              </div>
            
          </div>
        </div>
    
      </div>
    </section>
 
  </main>