<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Fantasy Football Draft
                  <span>Follow RoboCoach For Free Advice</span>
                </h1>
                <p class="lead  text-white">Robo Gives FREE Customized Fantasy Football Advice.</p>
             
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                  
                    <h6 class="text-primary text-uppercase">FREE Customized Fantasy Football Advice</h6>
                 <ul>
                    <li class="description mt-1">Free fantasy football <a href="dfsdf">news!</a>.</li>
                   <li class="description mt-1"> Excellence <a href="fsdfsd">for TWENTY years! Same Ownership!</a>.</li>
                   <li class="description mt-1"> Customized fantasy football <a href="fsdfsd">cheat sheets!</a>.</li>
                   <li class="description mt-1"> Customized RoboAuction draft wizard <a href="fsdfsd">for auction fantasy draft</a>.</li>
                   <li class="description mt-1"> Custom RoboDraft draft wizard for <a href="fsdfsd">regular fantasy draft</a>.</li>
                   <li class="description mt-1"> Customized <a href="fsdfsd">weekly fantasy rankings</a>.</li>
                   <li class="description mt-1"> <a href="fsdfsd">Customized start-sit</a> advice.</li>
                   <li class="description mt-1"> <a href="fsdfsd">Evaluate your fantasy team</a>.</li>
                   <li class="description mt-1"> Custom fantasy <a href="fsdfsd">waiver wire</a>, free agent and keeper advice.</li>
                   <li class="description mt-1"> <a href="fsdfsd">RoboTrade: fantasy football trade evaluator that</a> can even suggest trades.</li>
                   <li class="description mt-1"> Customized fantasy football rankings and <a href="fsdfsd">sleepers and duds</a>.</li>
                   <li class="description mt-1"> Weekly <a href="fsdfsd">NFL depth charts</a>, injuries, stats, and information.</li>
                   <li class="description mt-1"> Sync: RoboSync <a href="fsdfsd">INTEGRATION with your commissioner service</a>.</li>
                   <li class="description mt-1"> RoboCoach <a href="fsdfsd"></a>free fantasy football tools.</li>
                   <li class="description mt-1"> <a href="fsdfsd">Free fantasy football strategy</a> advice.</li>
                   <li class="description mt-1"> NEW! FFD <a href="fsdfsd">multiple league advice for free</a>.</li>
                </ul>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                  
                    <h6 class="text-success text-uppercase">ROBO IS ONE OF A KIND!</h6>
                    <p class="description mb-2">NO OTHER SITE CAN DO ALL OF THIS!! However, there are a few things that Robo doesn't do:</p>
                   <ul>
                    <li class="description mt-1">Robo is artificial intelligence.</li>
                    <li class="description mt-1"> Robo is advanced fantasy football software.</li>
                    <li class="description mt-1"> Robo IS the <a href="fsdfsd">Watson</a> of Fantasy Football.</li>
                    <li class="description mt-1"> Robo is <span class="text-danger">NOT</span> a fantasy league management provider like ESPN, Yahoo! or Sportsline!! <b>However</b>, Robo does automatically gather your league and roster data from a league commissioner service: currently just CBS Sportsline.</li>
                    <li class="description mt-1"> Robo is <span class="text-danger">NOT</span> a mock draft host.</li>
                    <li class="description mt-1"> Robo is <span class="text-danger">NOT</span> a fantasy football journalism site. But we do have many free <a href="fsdfsd">fantasy football strategy</a> articles.</li>
                    <li class="description mt-1"> Robo is <span class="text-danger">NOT</span> a supplier of paper fantasy draft boards or plastic fantasy draft kits. (Although Robo does have an electronic draft board you can use for the same purpose--see RoboDraft).</li>
                    <li class="description mt-1"> Robo is <span class="text-danger">NOT</span> <span class="text-primary"> G </span><span class="text-danger">o </span><span class="text-warning">o  </span><span class="text-primary">g </span><span class="text-success">l </span><span class="text-danger">e </span>, but like Google we are about content and performance.
                    <li class="description mt-1"> Robo IS fantasy football strategy analysis software that helps you win!</li>
                </ul>
                  </div>
                </div>
              </div>
       
            </div>
          </div>
        </div>
      </div>
    </section>
 
  </main>