<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
      
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-header">
                        <h5 class="text-primary"> RoboContest: Fantasy Football Contest Starter Advisor and Player Rankings
                        </h5>
                    </div>
                  <div class="card-body py-2">
                            
                    <div>
                     
                                    <ul>
            <li><span><a href="/contestTeam02.asp?contest=jtsportsbuff">JT's Sports Buff</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=allamericapro">All-America Pro Formation</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=allamericarunshoot">All-America Run and Shoot Formation</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=usatoday">USA Today Roto Style</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=statman">Statman</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=head2head">Head to Head / Head 2 Head</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=espnGridiron">ESPN Gridiron Challenge</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=exciteProFootballWeeklyMegaSportsCDM">Excite, Pro Football Weekly, Mega Sports and CDM</a></span></li>
            <li><span><a href="/contestTeam02.asp?contest=wall2wall">Wall to Wall / Wall 2 Wall</a></span></li>
            </ul>
            
                                    <div>Send and email to johnsmithDing@Dongfantasyfootballdraft.com to request RoboCoach coverage for any salary-cap style fantasy football contest.  Coverage is free.  <br><br><b>FAQ</b>: Why doesn't RoboCoach just cover all the contests?<br><b>Answer</b>:There are dozens if not hundreds of salary cap contests all claiming to be the biggest and best.  At FFD we like a few paid entry contest providers, such as, <a href="http://www.sportsbuff.com/">JT's SportsBuff</a> and <a href="http://www.cdmsports.com/">CDM Sports</a> but we only cover those contests that our patrons request.  In high stakes fantasy football leagues we like <a href="http://wcoff.com/">World Championship of Fantasy Football (WCOFF)</a>, <a href="http://www.fantasyfootballchampionship.com/">National Fantasy Football Championship</a> and <a href="http://www.affl.com/">AFFL</a><br></div>
                        </div>
                           
                         
                    
                </div>
              </div>
            
          </div>
        </div>
    
      </div>
    </section>
 
  </main>