<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/doctorrobocoach" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/groups/588804311507814/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/doctorrobocoach/" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.reddit.com/user/atommc" class="btn btn-neutral btn-icon-only bg-white btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-github"></i>
        </a>
        <a target="_blank" href="https://www.snapchat.com/add/doctorrobocoach" class="btn btn-neutral bg-warning btn-icon-only btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-snapchat"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UC1o3jLJ3ifF3Wqlse17HKRw" class="btn btn-neutral bg-danger btn-icon-only btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Tom</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com?ref=adsa-footer" class="nav-link" target="_blank">Login</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation?ref=adsa-footer" class="nav-link" target="_blank">Register</a>
          </li>
    
        </ul>
      </div>
    </div>
  </div>
</footer>
