<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
      
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-header">
                        <h5 class="text-primary">RoboCheat - Customized Fantasy Football Cheat Sheets and NFL Player Rankings</h5>
                    </div>
                  <div class="card-body py-2">
                            <h5 class="text-primary">Here are all the different kinds of customized cheatsheets available.  Each cheatsheet provides some information for free.  All cheatsheets are updated nightly or (when you make a change to your league or scoring setup) immediately.
                            </h5>
                            <div>
                            <ul>
                            <li><a href="/cheatsheet.asp?pos=RB">RoboCheat</a>-This is your 'regular draft' customized cheatsheet from <i>now</i> until the season end.
                            <br>
                                <ul>
                                    <li>Note, this is a 'rolling' cheat sheet and that means that you can come back in-season to see the new player values from, e.g., week 2, week 3 and so on, until season end.</li>
                                    <li>Here is a YouTube demo of RoboCheat the <a href="https://youtu.be/oQsqrS8ojAU" target="_blank">customized fantasy football cheatsheet</a>.</li>
                                </ul>
                                <br>
                            </li>
                            <li><a href="/fantasy_football_weekly_player_rankings_updated_projections_matchups_calculator.aspx">RoboCheat Weekly (RC Weekly)</a>-This is your customized cheat sheet for this <i>weeks</i> game predictions.</li>
                            </ul>
                         </div>
                    
                </div>
              </div>
            
          </div>
        </div>
    
      </div>
    </section>
 
  </main>