<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-50">
    
         
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <!-- 1st Hero Variation -->
      </div>
    <section class="section section-lg pt-lg-0 mt--100">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card card-lift--hover shadow border-0">
                <div class="card-header text-center ">
                    <h4 class="text-primary text-uppercase">Fantasy Football Draft FAQ</h4>
                </div>
                <div class="card-body py-3">

<h5 class="text-primary">Fantasy Football Draft is a site devoted to helping you pick the best possible fantasy football team and manage that team throughout the year. The site has tools that will help you personalize your fantasy league, draft your team, make trades with other players, pick fantasy free agents (waivers) and select your weekly starters.</h5>
       
<div class="card card-lift--hover shadow border-0">
    <div class="card-header">
        <h5 class="text-primary"> Q: Does robo auction count flex players as part of the starting lineup when creating optimal teams?</h5>
    </div>
    <div class="card-body py-3">

       
   <p class="mb-0"><b>A:</b> Flex play is used when calculating player values in standard snake draft cheatsheets (see RoboCheat).  When it comes to lineups, RoboAuction requires the flex player to <i>declare</i>, so to speak.  The best way to do this is to look at the use of flex play within your league.  If the winning teams typically use, for example, an RB as flex then you should bump up the RB position from X to X+1 and turn off the flex option, that is, if you use 1 Flex and 2 RBs then change to Flex=0 and RB=3.<br>
       If the winning teams do not show a tendency then setup a new free account for each possibility (QB+1, WR+1, TE+1, etc.). You can make as many free accounts as you want on FantasyFootballDraft.com and so just create a new account (using the link below) and set up the new account using the instructions above. 
  </p>
  <b>League Setup:</b>
  <p class="mb-0"><a href="https://www.fantasyfootballdraft.com/addleague.asp">Edit Fantasy Football League Setup</a></p> 
  <b>Free Account:</b>

  <p><a href="https://www.fantasyfootballdraft.com/fantasyfootballfreeleague.asp">Free Fantasy Football Draft Subscription</a></p> 
  </div>
</div>

  

    <div class="card card-lift--hover shadow border-0">
        <div class="card-header">
            <h5 class="text-primary"> Q: Every day ur rankings change and most of the time the same players are on top but some players will be top 5 one night and 30th the next... Do the ratings usually get more consistent closer to season start?  Do you have a list of the factors that robo makes calculations on?</h5>
        </div>
        <div class="card-body py-3">

            <p class="mb-0"> <b>A:</b> You can find player value calculation explanations at the link below.  Ratings fluctuate because the factors they are based upon fluctuate.  if player values are very tight, which they tend to be, then a small change in a players projection can drop their rank considerably.  You can use this information to your advantage by avoiding highly ranked players that don't differ much in terms of output from lower ranked players.  Avoid ranking and go for <a href="/analystsoup.asp#differenceMakers">difference makers</a>.<br>
       
                Additionally, there are probabilities associated with the calculations.   Consequently, no two projections are ever the same, but they do tend to produce, on the whole, a good picture of the field.</p>
                   
       <p><a href="https://www.fantasyfootballdraft.com/help/cheat.asp">CheatSheet Help</a></p>
      </div>
    </div>
       

       

    

        <div class="card card-lift--hover shadow border-0">
        <div class="card-header">
            <h5 class="text-primary">Q: I'm in 5 leagues that all have different scoring systems.  Will your software allow me to save multiple scoring systems and allow me to pick between those leagues so i don't have to input rosters and scoring systems every time i log in when the season starts etc...</h5>
        </div>
        <div class="card-body py-3">

     
                <p class="mb-0"><b>A:</b>  Yes, we have had that feature for about five years now.  Go to the page below and follow the instructions.</p>
                <p><a href="https://www.fantasyfootballdraft.com/fantasyfootballfreeleague.asp">Free Fantasy Football League</a></p>
      </div>
      </div>

      <div class="card card-lift--hover shadow border-0">
        <div class="card-header">
            <h5 class="text-primary">Q: What is the difference between the Full Access and the Fantasy Toolkit Plus?</h5>
        </div>
        <div class="card-body py-3">
     
            <p class="mb-0">
                <b>A:</b> The difference is you do not have access to the most powerful fantasy tools available to you--RoboCoach (some features are not free). RoboCoach is the leading artificial intelligence for managing your fantasy football team. It can do anything a human can do except better. It can suggest trades, make waiver picks and suggest starters. All you have to do is enter your league data and it will take care of the rest--no thinking on your part! Plus, you save time!! You don't even have to enter your league information if you subscribe to CBS Sportsline Fantasy Football (pay leagues) because RoboSynch can fetch that information for you!<br>
               </p>
      </div>
      </div>

  
      
       
   
       
       
     
     
       <b>Q:<a> Regarding the cheatsheet</a>, is there a way to have all positions together so it would show which player is more valuable than the next regardless of position that they play?  </b>
       <p class="mb-0">
       Yes, if you buy a subscription for the cheatsheet you will get a Scoring Index which is globally comparable, e.g., you can compare a QBs scoring index versus a RBs. You still get a lot without the subscription: The players are rank ordered from best to worst in their respective positions. <br>
       </p>
       <b>Q</b>:I want to start with a completely <a name="blank_slate">blank</a> scoring system, but the system will not let me delete everything. Is there a way to get around this?  <br>
       <p class="mb-0">
       You can delete scoring items by clicking the 'delete' link next to each scoring item. It takes a while if you need to delete for all scoring positions.<br>
       The other method is to modify 'all' players scoring at one time. For example, if the default scoring system awards 6 points for rushing tds to rb/wr/qb/k/te you can change it by clicking 'Edit My Scoring System' to get to the scoring input screen. Then click 'Add a New Offensive Stat Category'. Even though rushing tds are already input into the system you can overwrite the current setup by inputing your new setup. For 'Category' select 'Rushing TD' and select 'All' for 'Position'. When you enter in the new setup, e.g., (non-prorated section)' 7 points for each rushing tds from 0 to 999 rushing tds' it will overwrite the existing setup for all offensive positions, i.e., rb/wr/te/qb/k. <br>
       </p>
       <b>Q: What is a cheatsheet? </b>
       <p class="mb-0">
       A cheatsheet is a list ranking NFL players that you can take to your draft to help you get the best fantasy football team.  Players are ranked on the sheet in the manner that you think will be most helpful.  In the simplest strategy, you select your team by taking the player with the highest rank that is still undrafted.<br>
      </p>
       <b>Q :What is an auction-style fantasy football draft?</b>
       <p class="mb-0">
       An auction-style draft is a draft where team owners BID FOR THEIR PLAYERS. Each owner has a budget and they must not exceed that budget when buying their players. For example, a owner might have $100 fantasy dollars with which to purchase their team. That owner might like to buy all top quality players, but that would be too expensive because the other owners will drive prices up. So, to be successful, an owner must get the most for their money and that is where the RoboAuction can help<br>
       </p>
       <b>Q</b>:What is the Robotrade trade optimizer and how can it help me?
       <p class="mb-0">
       A trade optimizer is a tool that lets you make great trades with other teams.  The tool will maximize the benefit for you, your trade partner, or both of you, but in all cases both teams come out better than when they started. <br>
       </p>
       <b>Q: How does the RoboAuction help me get the best team? </b>
       <p class="mb-0">
       RoboAuction helps you get the best team for your budget. To do this RoboAuction predicts the likely price and performance for each player. Using this prediction RoboAuction will calculate the "optimal" team. The optimal team is the team that is within your budget that will return you the most points over the course of the season. There are literally BILLIONS of possible teams. The Robo will examine each possible team and then tell you the best team. <br>
       </p>
       <b>Q: When do I use RoboAuction?</b>
       <p class="mb-0"><p>
       You can use RoboAuction anytime, but it is best to use it live during your draft. Draft day is always unpredictable and you might not be able to get the originally predicted optimal team because, for example, some other owner bids the price of a player over the predicted amount. This is where RoboAuction becomes especially helpful. You can enter in the new price of the player and then recalculate the optimal team. If the price of a player goes too high, that player will drop out of the optimal team. Best of all, RoboAuction RECALCULATES THE OPTIMAL TEAM QUICKLY SO YOU DON'T LOSE YOUR OPTION TO BID. <br>
       </p>
       <b>Q: What do I need to run the services on this site? </b>
       <p class="mb-0">
       An Internet connection and a web browser. That's it! THERE IS NO SOFTWARE TO DOWNLOAD. Just register by clicking "New User." Once you complete registration, you will enter your league's scoring information and then you can use the site's service FREE OF CHARGE. If you are already registered, click "login" and you will be taken to the main menu. <br>
       </p>
       <b>:What is RoboCheat Weekly? </b> 
       <p class="mb-0">
       RoboCheat Weekly gives you the information you need to pick the highest scoring fantasy football starters for each week in the NFL season.  The RoboCheat Weekly bases its weekly starter forcasts on past-performance, opponent strength and several other factors.  <br>
       </p>
       <br>
       <b>Q :Who is responsible for all this madness? </b>
       <p class="mb-0">
       <a href="http://www.google.com/search?hl=en&amp;q=FANTASY+football+goppl">GOPPL!</a><br>
       </p>
       <b>Copyrights</b>
       Auction Draft Optimizer - copyright, 1999<br>
       Cheatsheet Customizer - copyright, 2000 <br>
       Trade Optimizer - copyright, 1999<br>
       Weekly Starter Selector - copyright, 1999<br>
       Weekly Fantasy Contest Killer - copyright, 2000<br>
       RoboCoach - copyright, 2001<br>
       Electronic General Manager (eGM) - copyright, 2000<br>
       RoboTrade, RoboWaiver, RoboDepth, RoboSynch, RoboDraft, RoboAuction, RoboCheat, RoboCheat Weekly and Analyst Soup copyright 2004, ASG <br>
       fantasyfootballdraft.com 1999

           
      
            </div>
        </div>
      
    </div>
        </div>
        </div>
    </section>
 
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>